@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
}

/* HEADER */
header {
    height: 90px;
    background-color: #222222;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.header-nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.header-nav a:hover {
    color: #DD9F2D;
    border-bottom: 2px solid #DD9F2D;
}

#active {
    color: #FF4242;
}

/* FIM DO HEADER */

/* MAIN E BANNER */
main {
    margin: 20px 0 0 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* FIM DO MAIN E BANNER*/

/* CARROSSEL DA COODERNAÇÃO */
.coordenacao {
    padding: 40px 60px;
}

.carrossel {
    position: relative;
}

.carrossel-viewport {
    overflow: hidden;
    margin: 30px;
}

.coordenacao-texto h1 {
    font-family: "Dela Gothic One", sans-serif;
    color: #222222;
    text-align: center;
    font-weight: 400;
}

.coordenacao-texto span {
    color: #BE2525;
}

.carrossel-track {
    display: flex;
    gap: 15px;
    transition: transform 0.5s ease;
}

.card-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10%);
}

.card-img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #222222;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.carrossel-card {
    background-color: #222222;
    flex: 0 0 320px;
    padding: 150px 20px 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    position: relative;
}

.carrossel-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 3px;
    background: linear-gradient(90deg, #FF4242, #DD9F2D, #5A8613);
    clip-path: inset(97% 0 0 0);
}

.carrossel-card h3 {
    font-size: 18px;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 5px;
}

.carrossel-card h6 {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-bottom: 15px;
    color: #FF4242;
}

.carrossel-card p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

.card-redes-sociais {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 15px 0;
}

.carrossel-card i {
    color: #ffffff;
    font-size: 22px;
    transition: 0.3s;
}

.carrossel-card i:hover {
    color: #FF4242;
    font-size: 25px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #222222;
    color: white;
    border: none;
    padding: 15px 24px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.prev {
    left: -40px;
}

.next {
    right: -40px;
}

/* FIM DO CARROSSEL DA COODERNAÇÃO */

/* CARROSSEL DOS PROFESSORES */
.professores {
    padding: 40px 60px;
}

.professores-texto h1{
    font-family: "Dela Gothic One", sans-serif;
    color: #222222;
    text-align: center;
    font-weight: 400;
}

.professores-texto span {
    color: #5A8613;
}

/* FIM DO CARROSSEL DOS PROFESSORES */

/* CARROSSEL DOS DESENVOLVEDORES */
.desenvolvedores {
    padding: 40px 60px;
}

.desenvolvedores-texto {
    font-family: "Dela Gothic One", sans-serif;
    color: #222222;
    text-align: center;
    font-weight: 400;
    padding: 0 0 40px;
}

.desenvolvedores-texto span {
    color: #DD9F2D;
}

/* FIM DO CARROSSEL DOS DESENVOLVEDORES */

/* INÍCIO DO FOOTER */
footer {
    background-color: #222222;
    padding: 40px 60px;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
    display: flex;
}

.footer-logo {
    padding: 0 60px 0 0;
    max-width: 350px;
}

.footer-logo,
.footer-logo a {
    color: white;
    font-size: 11px;
    color: #8f8f8f;
    max-width: 350px;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-logo img {
    height: 50px;
}

.footer-nav {
    display: flex;
    gap: 30px;
    text-align: left;
}

.footer-nav-bloco {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}

.footer-nav h3 {
    color: #DD9F2D;
    font-size: 14px;
    font-weight: 600;
}

.footer-nav a {
    color: #B4B2B2;
    font-size: 12px;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-nav a:hover,
.footer-logo a:hover {
    transform: scale(1.1);
    color: #dadada;
}
/* FIM DO FOOTER */

/* RESPONSIVIDADE */
@media (max-width:1024px) {
    footer{
        flex-direction: column;
        gap: 40px;
    }
}

/* TABLET */
@media (max-width:764px) {
    .header-nav a {
        font-size: 16px;
    }

    .header-nav {
        flex-wrap: wrap;
        gap: 15px;
    }

    .container {
        padding: 0 70px;
    }

    main h1 {
        font-size: 30px;
        text-align: center;
    }

    footer{
        flex-direction: column;
        gap: 40px;
    }
}

/* CELULAR */
@media (max-width:480px) {
    .header-nav a {
        font-size: 13px;
    }

    .header-nav {
        display: none;
        flex-direction: column;
        background: #222222;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        padding: 20px;
    }

    .header-nav.active {
        display: flex;
    }

    .carrossel-viewport {
        margin: 10px;
    }

    .container {
        padding: 0 20px;
    }

    .carrossel-card h3 {
        font-size: 14px;
    }

    .carrossel-card h6 {
        font-size: 12px;
    }

    .carrossel-card p {
        font-size: 11px;
    }

    .carrossel-card i {
        font-size: 18px;
        margin: 15px 0;
    }

    .carrossel-card {
        width: 200px;
    }
    
    .btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #222222;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 50%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .prev {
        left: -50px;
    }

    .next {
        right: -50px;
    }

    footer{
        flex-direction: column;
        gap: 40px;
    }
}