@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
}

/* HEADER */
header {
    height: 90px;
    background-color: #222222;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.header-nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.header-nav a:hover {
    color: #DD9F2D;
    border-bottom: 2px solid #DD9F2D;
}

#active {
    color: #84BE25;
}

/* FIM DO HEADER */

/* MAIN */
main {
    margin: 20px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* FIM DO MAIN */

/* ACCORDION */
.sobre-nos {
    padding: 0 0 40px 0;
}

.sobre-textos {
    text-align: center;
    padding: 40px 60px;
}

.sobre-textos h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    color: #222222;
    margin-bottom: 20px;
    font-size: 36px;
}

.sobre-textos p {
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.sobre-accordion {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.accordion-item {
    padding: 30px;
    border-radius: 8px;
}

.accordion-item summary {
    list-style: none;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 18px;
}

.accordion-item p {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    margin-top: 15px;
}

/* FIM DO ACCORDION */

/* CARDS DE DETALHES DO PROJETO */
.detalhes-projeto {
    padding: 40px 60px;
    background-color: #222222;
}

.cards-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.card {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 30px 20px;
    font-family: "Poppins", sans-serif;
    -webkit-box-shadow: 0px 3px 20px -6px rgba(255, 255, 255, 0.10);
    box-shadow: 0px 3px 20px -6px rgba(255, 255, 255, 0.10);
    transition: 0.3s;
}

.card:hover {
    -webkit-box-shadow: 0px 3px 40px -5px rgba(255, 255, 255, 0.30);
    box-shadow: 0px 3px 40px -5px rgba(255, 255, 255, 0.30);
}

.card h3 {
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.card p,
.card ul {
    font-size: 12px;
    padding: 0 30px;
    color: #ffffff;
}

.card p {
    font-weight: 500;
    padding: 0 30px 10px;
}

/* FIM DOS CARDS DE DETALHES DO PROJETO */

/* ESTRUTURA */
.estrutura {
    background: #222222;
    background: linear-gradient(90deg, rgba(34, 34, 34, 1) 0%, rgba(221, 159, 45, 1) 100%);
    position: relative;
}

.estrutura-container {
    padding: 0 60px;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px 0;
    align-items: center;
}

.estrutura-img img {
    max-width: 500px;
    height: auto;
    position: static;
    left: 0;
    bottom: 15px;
}

.estrutura-texto {
    max-width: 600px;
}

.estrutura-texto h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 15px;
}

.estrutura-texto ul {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

/* FIM DA ESTRUTURA */

/* FORMAÇÃO COMPLEMENTAR */
.formacao-complementar {
    background: #CA2525;
    background: linear-gradient(90deg, rgba(202, 37, 37, 1) 0%, rgba(34, 34, 34, 1) 100%);
    position: relative;
}

.formacao-container {
    padding: 0 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 60px;
    padding: 40px 0;
    align-items: center;
}

.formacao-img img {
    max-width: 400px;
    height: auto;
    position: static;
    right: 0;
    bottom: 15px;
}

.formacao-texto {
    max-width: 600px;

}

.formacao-texto h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 15px;
}

.formacao-texto ul {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

/* FIM DA FORMAÇÃO COMPLEMENTAR*/