@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
}

/* HEADER */
header {
    height: 90px;
    background-color: #222222;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.header-nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.header-nav a:hover {
    color: #DD9F2D;
    border-bottom: 2px solid #DD9F2D;
}

/* FIM DO HEADER */

/* MAIN */
main {
    margin: 20px 0 0 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* FIM DO MAIN */

/* INTRODUÇÃO */
.introducao {
    padding: 40px 0 0 0;
}

.introducao .container {
    display: flex;
}

.intro-textos {
    flex: 1;
    padding: 0 0 40px 0;
}

.intro-img {
    flex: 1;
    position: relative;
}

.intro-textos h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 60px;
    margin: 0 60px;
    font-weight: 400;
}

.intro-textos h3 {
    font-family: "Belanosima", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #222222;
    margin: 0 60px;
}

.intro-textos p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 20px 0 40px 60px;
    font-size: 18px;
    color: #222222;
}

.intro-textos p span {
    color: #BE2525;
}

.intro-textos #intro-btn {
    background-color: transparent;
    border: 2px solid #5A8613;
    color: #5A8613;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 80px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    margin: 0 60px;
    transition: 0.2s;
    text-decoration: none;
}

#intro-btn:hover {
    background-color: #5A8613;
    color: white;
    -webkit-box-shadow: 0px 0px 14px -5px #73a02b;
    box-shadow: 0px 0px 14px -5px #73a02b;
}

.introducao .intro-img img {
    height: auto;
    position: static;
    bottom: 0;
    max-width: 550px;
    right: 1;
}

/* FIM DA INTRODUÇÃO */

/* DESCRIÇÃO DO LIBERTAR */
.descricao-libertar {
    background-color: #222222;
    padding: 40px 60px;
    text-align: center;
}

.descricao-libertar h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    font-weight: 400;
}

.descricao-libertar p {
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* FIM DA DESCRIÇÃO */

/* CARROSSEL DE CURSOS */
.cursos {
    display: flex;
    align-items: stretch;
    padding: 40px 0;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

#container-curso {
    display: flex;
    width: 100%;
}

.cursos-texto {
    width: 30%;
    position: relative;
    z-index: 2;
    padding: 0 40px;
}

.cursos-texto h1 {
    color: #222222;
    letter-spacing: 5px;
    border-bottom: 3px solid #222222;
    padding: 0 0 10px 0;
}

.cursos-texto p {
    color: #222222;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.carrossel-area {
    width: 70%;
    position: relative;
}

.carrossel-container {
    overflow: hidden;
    width: 100%;
}

.carrossel-track {
    display: flex;
    gap: 20px;
    will-change: transform;
    transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.carrossel-card {
    min-width: 300px;
    padding: 40px 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    background-color: #222222;
    position: relative;
}

.carrossel-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 3px;
    background: linear-gradient(90deg, #FF4242, #DD9F2D, #5A8613);
    clip-path: inset(95% 0 0 0);
}

.carrossel-card h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.carrossel-card p {
    font-size: 14px;
    font-weight: 400;
}

.carrossel-card a {
    background-color: #ededed;
    padding: 8px 60px;
    font-size: 13px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px -4px #ffffff79;
    box-shadow: 0px 0px 13px -4px #ffffffa4;
    text-decoration: none;
}

.seta {
    position: absolute;
    background: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    right: 0;
    top: 40%;
}

/* FIM DO CARROSSEL DOS CURSOS */

/* INÍCIO DO SOBRE OS PROJETOS */
.sobre-projetos {
    background-color: #222222;
    padding: 40px 60px;
}

.sobre-projetos h1 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 7px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
}

.details-container {
    display: flex;
    gap: 20px;
}

details {
    background-color: #ededed;
    border-radius: 7px;
    position: relative;
    padding: 15px 40px;
    Width: 300px;
}

details::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 7px;
    padding: 4px;
    background: linear-gradient(90deg, #FF4242, #DD9F2D, #5A8613);
    clip-path: inset(95% 0 0 0);
}

summary {
    list-style: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

details p {
    font-family: "Poppins", sans-serif;
    padding: 20px 0;
    font-size: 12px;
    text-align: center;
}

/* FIM DO SOBRE OS PROJETOS */

/* INÍCIO SOBRE NÓS */
.sobre-nos {
    padding: 10px 60px;
}

.container-direito {
    display: flex;
    padding: 40px 60px;
    gap: 30px;
    text-align: right;
}

.container-textos {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.container-textos h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600px;
    font-size: 30px;
    color: #DD9F2D;
}

.container-textos h5 {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    color: #DD9F2D;
}

.container-textos p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.container-img img {
    width: 400px;
    height: 400px;
    flex: 1;
    background-color: #DD9F2D;
}

/* FIM DO SOBRE NÓS */

/* INÍCIO DA MISSÃO */
.container-esquerdo {
    display: flex;
    padding: 40px 60px;
    gap: 30px;
}

/* FIM DA MISSÃO */

/* INÍCIO DO FOOTER */
footer {
    background-color: #222222;
    padding: 40px 60px;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
    display: flex;
}

.footer-logo {
    padding: 0 60px 0 0;
    max-width: 350px;
}

.footer-logo,
.footer-logo a {
    color: white;
    font-size: 11px;
    color: #8f8f8f;
    max-width: 350px;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-logo img {
    height: 50px;
}

.footer-nav {
    display: flex;
    gap: 30px;
    text-align: left;
}

.footer-nav-bloco {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}

.footer-nav h3 {
    color: #DD9F2D;
    font-size: 14px;
    font-weight: 600;
}

.footer-nav a {
    color: #B4B2B2;
    font-size: 12px;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-nav a:hover,
.footer-logo a:hover {
    transform: scale(1.1);
    color: #dadada;
}
/* FIM DO FOOTER */


/* INÍCIO DA RESPONSIVIDADE */
/* NOTEBOOK */
@media (max-width: 1024px) {
    .introducao .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container,
    .container-curso {
        padding: 0 70px;
    }

    .intro-textos h1,
    .intro-textos h3,
    .intro-textos p,
    .intro-textos #intro-btn {
        margin-left: 10px;
        margin-right: 10px;
    }

    .intro-img {
        margin-top: 30px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .intro-img img {
        max-width: 400px;
        position: relative;
    }

    footer{
        flex-direction: column;
        gap: 40px;
    }
}

/* TABLET */
@media (max-width: 768px) {
    .header-nav a {
        font-size: 16px;
    }

    .header-nav {
        flex-wrap: wrap;
        gap: 15px;
    }

    .introducao .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container,
    .container-curso {
        padding: 0 70px;
    }

    .intro-textos h1 {
        font-size: 30px;
    }

    .intro-textos p {
        font-size: 14px;
    }

    .intro-textos #intro-btn {
        padding: 5px auto;
        font-size: 16px;
    }

    .intro-img {
        margin-top: 30px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .intro-img img {
        max-width: 300px;
        position: relative;
        max-height: 300px;
    }

    .descricao-libertar h1 {
        font-size: 30px;
    }

    .descricao-libertar p {
        font-size: 14px;
    }

    .carrossel-area {
        padding: 0 0 0 80px;
    }

    .cursos-texto h1 {
        font-size: 25px;
    }

    .cursos-texto p {
        font-size: 14px;
    }

    footer{
        flex-direction: column;
        gap: 40px;
    }

    .footer-nav i {
        font-size: 18px;
        padding: 0 10px;
    }

    .footer-nav p,
    .footer-nav a {
        font-size: 12px;
    }

    .footer-nav h3 {
        font-size: 13px;
    }
}

/* CELULAR */
@media (max-width: 480px) {
    .header-nav a {
        font-size: 13px;
    }

    .header-nav {
        display: none;
        flex-direction: column;
        background: #222222;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        padding: 20px;
    }

    .header-nav.active {
        display: flex;
    }

    .container {
        padding: 0 20px;
    }

    .intro-img img {
        max-height: 300px;
    }

    .descricao-libertar h1 {
        font-size: 25px;
    }

    .descricao-libertar p {
        font-size: 12px;
    }

    .cursos-texto {
        width: 40%;
    }

    .cursos-texto h1 {
        font-size: 18px;
    }

    .cursos-texto p {
        font-size: 12px;
    }

    .carrossel-area {
        width: 60%;
        padding: 0 0 0 20px;
    }

    .carrossel-card {
        max-width: 100px;
        height: 200px;
        flex-direction: column;
    }

    .carrossel-card h3 {
        font-size: 15px;
    }

    .carrossel-card p {
        font-size: 12px;
    }

    .publico-atendido h1 {
        font-size: 30px;
    }

    .card-publico p {
        font-size: 11px;
    }

    .bloco p {
        font-size: 11px;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* FIM DA RESPONSIVIDADE */